<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check-In</title>
  <link rel="stylesheet" href="body.component.css"> <!-- Agrega tu hoja de estilos aquí -->
</head>
<body>
  <div class="badge">
    <div class="header">
      <h1>BNI</h1>
    </div>
    <div class="user-profile">
      <img src="assets/img/batman.png" class="img-fluid circular-image" [alt]="user.name">
      <div class="info">
        <p><strong>Nombre:</strong> {{ user.userName }}</p>
        <p><strong>Número de Empleado:</strong> {{ user.profession }}</p>
        <p><strong>Área:</strong> {{ user.companyName }}</p>
      </div>
    </div>
    <div class="company-details">
      <h3>{{ user.companyName }}</h3>
      <hr>
      <p>{{ scan }}</p>
      <div class="qr-code">
        <qrcode
          [qrdata]="myAngularxQrCode"
          [width]="200"
          [errorCorrectionLevel]="'M'"
          [margin]="1"
          [scale]="1"
        ></qrcode>
      </div>
    </div>
  </div>
</body>
</html>
